<%- include('partials/head'); -%>
    <link rel="stylesheet" href="/css/estilosIndex.css">
    <link rel="stylesheet" href="/css/estilosTablaGestion.css">
    <link rel="stylesheet" href="/css/autocomplete.css">
    <link rel="stylesheet" href="/css/autocompleteNombres.css"> 
</head>
<body>
  <%- include('partials/header'); -%>

  <form id="form" action="/gestion/mostrarRma" method="GET">
    
       <table>
        <tr>
          <td><h2>Cliente</h2></td>
          <td>
            <input type="text" name="cliente" class="autocompleteNombres" autocomplete="off" value="<%= cliente ? cliente.nombre : '' %>">
            <ul id="suggestionsList" class="suggestions" style="display: none;"></ul>
          </td>
        </tr>
        <tr>
          <td colspan="2" id="tdInputSubmit">
            <input type="submit" value="Buscar">
          </td>
        </tr>
      </table>
      
  </form><br>



  <div id="tabla">
    <table>
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Modelo</th>
          <th>Cantidad</th>
          <th>Solicita</th>
          <th>Op/Lote</th>
          <th>Vencimiento</th>
          <th>Se Entrega</th>
          <th>Se Recibe</th>
          <th>Observación</th>
          <th>Número de Ingreso</th>
          <th>Número de Egreso</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="productos-body">
        <!-- El contenido de los productos se cargará aquí -->
      </tbody>
    </table>
  </div>

  <!-- Pasar datos del servidor al script -->
  <script>
    const productosData = <%- JSON.stringify(productos || []) %>;
    const clienteNombre = "<%= cliente ? cliente.nombreCliente : '' %>";
  </script>
  <script src="/js/js.js"></script>
  <script src="/js/nombresListado.js"></script>
</body>
</html>


